.conteiner {
  width: 170rem;
  height: 80rem;
  // min-height: 80rem;
  // max-height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d9d9d9;
  border-radius: 0.8rem 0.8rem 0rem 0rem;

  .headerTable {
    display: flex;
    width: 100%;
    height: 5rem;
    background: #5d8a66;
    border-radius: 0.8rem 0.8rem 0px 0px;
    justify-content: left;
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    .colHeader {
      height: 100%;
      font-size: 1.5rem;
      font-weight: 500;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
    }
    .col0 {
      width: 13rem;
    }
    .col1 {
      width: 11rem;
    }
    .col2 {
      width: 14rem;
    }
    .col3 {
      width: 11.6rem;
    }
    .col4 {
      width: 15rem;
    }
    .col5 {
      width: 22rem;
    }
    .col6 {
      width: 10rem;
    }
    .col7,
    .col8 {
      width: 17rem;
    }
    .col9 {
      width: 9.5rem;
    }
    .col10 {
      width: 7.5rem;
    }
    .col11 {
      width: 13rem;
    }
    .col12 {
      width: 7.9rem;
    }
  }

  .rowsConteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    cursor: pointer;

    .rowTable {
      transition: all 0.2s;
      display: flex;
      width: 100%;
      min-height: 3.5rem;
      border-bottom: 0.1rem solid var(--background);
      &:hover {
        background: #c5c5c5;
      }

      .colRows {
        font-size: 1.3rem;
        font-weight: 400;
        color: #2c3639;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
      }
      .col0 {
        width: 13rem;
      }
      .col1 {
        width: 11rem;
      }
      .col2 {
        width: 14rem;
      }
      .col3 {
        width: 11.6rem;
      }
      .col4 {
        width: 15rem;
      }
      .col5 {
        width: 22rem;
      }
      .col6 {
        width: 10rem;
      }
      .col7,
      .col8 {
        width: 17rem;
      }
      .col9 {
        width: 9.5rem;
      }
      .col10 {
        width: 7.5rem;
      }
      .col11 {
        width: 13rem;
      }
      .col12 {
        width: 7.9rem;
      }
    }
  }
}

.dialogOverlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  inset: 0;

  .dialogContent {
    top: 50%;
    left: 50%;
    background: white;
    padding: 30;
    border-radius: 4;
    border: none;
    width: 50vh;
    height: 50vh;
  }
}
