.conteiner {
  width: 170rem;
  min-height: 85rem;
  max-height: 85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d9d9d9;
  border-radius: 0.8rem;

  .headerConteiner {
    display: flex;
    width: 100%;
    height: 5rem;
    background: #5d8a66;
    border-radius: 0.8rem 0.8rem 0px 0px;
    justify-content: space-between;
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    .col {
      height: 100%;
      font-size: 1.5rem;
      font-weight: 500;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .col0 {
      width: 13rem;
    }
    .col1 {
      width: 11rem;
    }
    .col2 {
      width: 14rem;
    }
    .col3 {
      width: 11.6rem;
    }
    .col4 {
      width: 15rem;
    }
    .col5 {
      width: 22.5rem;
    }
    .col6 {
      width: 10rem;
    }
    .col7,
    .col8 {
      width: 17.5rem;
    }

    .col9 {
      width: 9.5rem;
    }
    .col10 {
      width: 7.5rem;
    }
    .col11 {
      width: 13rem;
    }
    .col12 {
      width: 7.9rem;
    }
  }
}
