
.showConteiner{
    display: flex;
}

.conteiner{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;

    .modal{
        background: #d9d9d9;
        width: 60rem;
       //height: 85rem;
        border-radius: .8rem;
        overflow-y: auto;

        .formModal{
            width: 100%;
            height: 100%;
            padding: 1.5rem 3.5rem;

            
            .rowTitle{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 2rem;
                .title{
                    font-size: 2.5rem;
                    font-weight: 600;
                    text-align: center;
                    color: #2C3639
                }    
            }


            .row{
                width: 100%;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem 0rem;
                margin-bottom: 1rem;
                gap: 2rem;

                .rowLabel{
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: right;
                    

                    .label{
                        font-size: 1.4rem;
                        font-weight: 400;
                        text-align: right;
                        color: #2C3639
                    }
                }
                .rowInput{
                    width: 70%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: left;     
                    .input{
                        width: 100%;
                        height: 100%;   
                        padding: 1rem;
                        font-size: 1.4rem;
                        border-radius: .8rem;
                        background: rgba(255, 255, 255, 0.4);
                        border: 0.1rem solid #ffffff;
                        color: #2C3639
                    }
                }
            }

            .rowButton{
                width: 100%;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem 0rem;
                margin-top: 3rem;
                :hover{
                    background: rgba(12, 242, 93, 0.3);
                    //color: #ffffff;
                }
            }

            .saveButton{
                width: 14rem;
                height: 4rem;
                border: 0.1rem solid #015c4b;
                background: rgba(12, 242, 93, 0.1);
                color: #015c4b;
                font-size: 2rem;
                font-weight: 500;
                border-radius: .8rem;

            }
        }
    }
}