@import "../../styles/animations.scss";
.showConteiner {
  display: flex;
}

.conteiner {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;

  animation-name: showOpacity;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;

  .modal {
    background: #d9d9d9;
    width: 60rem;
    //height: 85rem;
    border-radius: 0.8rem;
    overflow-y: auto;
    animation-name: openModal;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    position: relative;

    .close{
      position: absolute;
      top:1rem;
      right:1rem;
      transition: 0.2;
      &:hover{
        transform: scale(1.1);
      }
    }

    .formModal {
      width: 100%;
      height: 100%;
      padding: 1.5rem 3.5rem;

      .rowTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        z-index: 130;
        .title {
          font-size: 2.5rem;
          font-weight: 600;
          text-align: center;
          color: #2c3639;
        }
      }

      .row {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0rem;
        margin-bottom: 1rem;
        gap: 2rem;

        .rowLabel {
          width: 45%;
          display: flex;
          align-items: center;
          justify-content: right;

          .label {
            font-size: 1.9rem;
            font-weight: 500;
            text-align: right;
            color: #2c3639;
          }
        }
        .rowInput {
          width: 55%;
          height: 100%;
          display: inline-block;
          align-items: center;
          justify-content: left;
          position: relative;
          &:hover{
            .arrowDown{
              transform: translateY(0.2rem);
            }
          }
          .input {
            width: 100%;
            height: 100%;
            padding: 0.5rem 1rem;
            font-size: 1.9rem;
            font-weight: 500;
            border-radius: 0.8rem;
            background: rgba(255, 255, 255, 0.4);
            border: 0.1rem solid #ffffff;
            color: #2c3639;
          }
          .arrowDown{
            position: absolute;
            right: 0.5rem;
            z-index: 0;
            transition: 0.2s;
          }
        }
      }

      .rowButton {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 0rem;
        margin-top: 3rem;
      }

      .saveButton {
        width: 14rem;
        height: 4rem;
        border: 0.1rem solid #015c4b;
        background: rgba(12, 242, 93, 0.1);
        color: #015c4b;
        font-size: 2rem;
        font-weight: 500;
        border-radius: 0.8rem;
        transition: 0.2s;
        box-shadow:  5px 5px 22px -6px rgba(0,0,0,0.2);
        transition: 0.3s;

        &:hover {
          //background: rgba(12, 242, 93, 0.3);
          transform: scale(1.03);
          //color: #ffffff;
        }
      }
    }
  }
}
