.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #b2bebf;
}

.rankingsContainer {
  gap: 4rem;
  display: flex;
  padding: 2.5rem;
  justify-content: center;
  background: #b2bebf;
  align-items: flex-start;
}

