.divHeaders{
    
    background-color :#2C3639;
    padding-bottom:10px; 
    padding-top : 10px;
}
.titulo{
    color: aliceblue;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    margin-inline-start:0px;
    margin-inline-end: 0px;
} 