.tela{
    width: 15%;
    background-color :#fff59b;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 100%;
    align-items: center;
    justify-content: top;
}