.loadingConteiner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .loading{
        width: 4rem;
        height: 4rem;
        circle{
            stroke: #ffffff
        }
    }
}