.modal {
    background: rgba(0, 0, 0, 0.15);
    width: 100vw;
    height: 100vh;
    border-radius: 0.8rem;
    position: fixed;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    left: 0;
    .loading{
        width: 4rem;
        height: 4rem;
    }
}