.container {
  display: flex;
  flex-direction: column;
}

.rankingsContainer {
  justify-content: center;
  gap: 2.8rem;
  display: flex;
  align-items: flex-end;
  padding-top: 2.8rem;
}
