.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #b2bebf;

  .rankingsContainer {
    gap: 1rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    //padding-top: 2.5rem;
    align-items: center;
    background: #b2bebf;

    .titleSearchConteiner {
      width: 170rem;
      height: 6rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tableTitle {
        font-size: 2.4rem;
        font-weight: 400;
        width: 30rem;
        text-align: start;
      }

      .searchConteiner {
        display: flex;
        align-items: center;
        width: 66.5rem;
        height: 100%;
        border-radius: 0.8rem;
        border: 0.1rem solid #ffffff;
        padding: 1.5rem 1.7rem;

        .searchLabel {
          width: 11rem;
          font-size: 1.5rem;
          margin: 1rem;
        }

        .typeSearch {
          background: #ffffff00;
          width: 17rem;
          font-size: 1.5rem;
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          height: 100%;
          padding: 0 0.5rem;
        }
      }
    }

    .addOSContainer {
      width: 170rem;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 2rem;

      .addOSSpanConteiner {
        display: flex;
        align-items: center;
        .addOSSpan {
          font-size: 3rem;
          font-weight: 400;
          color: #2c3639;
        }
      }

      .addOS {
        width: 4.5rem;
        height: 4.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.8rem;
        border: 0.1rem solid #002c24;
        background: rgba(12, 242, 93, 0.1);
        color: #002c24;
        transition: 0.2s;

        &:hover {
          background: rgba(12, 242, 93, 0.3);
        }
      }
    }
  }
}
