.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #b2bebf;

  .rankingsContainer {
    gap: 1rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    //padding-top: 2.5rem;
    align-items: center;
    background: #b2bebf;

    .addOSContainer {
      width: 170rem;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 2rem;

      .addOSSpanConteiner {
        display: flex;
        align-items: center;
        .addOSSpan {
          font-size: 3rem;
          font-weight: 400;
          color: #2c3639;
        }
      }

      .addOS {
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.8rem;
        border: 0.1rem solid #002c24;
        background: rgba(12, 242, 93, 0.1);
        color: #002c24;
        transition: 0.2s;
        box-shadow:  5px 5px 22px -6px rgba(0,0,0,0.2);

        &:hover {
          //background: rgba(12, 242, 93, 0.3);
          transform: scale(1.03);
        }
      }
    }
  }
}
